#nav-id {
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid black;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-list li {
    flex: 1;
    text-align: center;
}
.nav-list li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}
.nav-list li a:hover {
    background: lightgray;
}
