
<footer>
    <div class="footer-container">
        <ul class="footer__top-list">
            <li class="footer__top-items"><a href="#">Chính trị</a></li>
            <li class="footer__top-items"><a href="#">Thời sự</a></li>
            <li class="footer__top-items"><a href="#">Kinh doanh</a></li>
            <li class="footer__top-items"><a href="#">Dân tộc và Tôn giáo</a></li>
            <li class="footer__top-items"><a href="#">Thể thao</a></li>
            <li class="footer__top-items"><a href="#">Giáo dục</a></li>
            <li class="footer__top-items"><a href="#">Thế giới</a></li>
            <li class="footer__top-items"><a href="#">Đời sống</a></li>
            <li class="footer__top-items"><a href="#">Văn hóa - Giải trí</a></li>
            <li class="footer__top-items"><a href="#">Sức khỏe</a></li>
            <li class="footer__top-items"><a href="#">Công nghệ</a></li>
            <li class="footer__top-items"><a href="#">Pháp luật</a></li>
            <li class="footer__top-items"><a href="#">Ô tô xe máy</a></li>
            <li class="footer__top-items"><a href="#">Du lịch</a></li>
            <li class="footer__top-items"><a href="#">Bất động sản</a></li>
            <li class="footer__top-items"><a href="#">Bạn đọc</a></li>
            <li class="footer__top-items"><a href="#">Tuần Việt Nam</a></li>
            <li class="footer__top-items"><a href="#">Toàn văn</a></li>
            <li class="footer__top-items"><a href="#">Công nghiệp hỗ trợ</a></li>
            <li class="footer__top-items"><a href="#">Bảo vệ người tiêu dùng</a></li>
            <li class="footer__top-items"><a href="#">Thị trường tiêu dùng</a></li>
            <li class="footer__top-items"><a href="#">Giảm nghèo bền vững</a></li>
            <li class="footer__top-items"><a href="#">Nông thôn mới</a></li>
            <li class="footer__top-items"><a href="#">Dân tộc thiểu số và miền núi</a></li>
            <li class="footer__top-items"><a href="#">Nội dung chuyên đề</a></li>
            <li class="footer__top-items"><a href="#">English</a></li>
            <li class="footer__top-items"><a href="#">Talks</a></li>
            <li class="footer__top-items"><a href="#">Hồ sơ</a></li>
            <li class="footer__top-items"><a href="#">Ảnh</a></li>
            <li class="footer__top-items"><a href="#">Video</a></li>
            <li class="footer__top-items"><a href="#">Multimedia</a></li>
            <li class="footer__top-items"><a href="#">Podcast</a></li>
            <li class="footer__top-items"><a href="#">24h qua</a></li>
        </ul>

        <div class="footer__bottom">
            <div class="footer-col">
                <p><b>Cơ quan chủ quản:</b> Bộ Dân Tộc và Tôn Giáo</p>
                <p><b>Số giấy phép:</b> 146/GP-BVHTTDL, cấp ngày 17/10/2025</p>
                <p><b>Tổng biên tập:</b> Nguyễn Văn Bá</p>
                <a href="#" class="footer-col"><h4>Liên hệ tòa soạn</h4></a>
                <p>Địa chỉ: Tầng 18, Toà nhà Cục Viễn thông (VNTA), 68 Dương Đình Nghệ, Cầu Giấy, Hà Nội.</p>
                <p>Điện thoại: 02439369898 - <b>Hotline: 0923457788</b></p>
                <p>Email: vietnamnet@vietnamnet.vn</p>
                <p>© 1997 Báo VietNamNet. All rights reserved.</p>
            </div>

            <div class="footer-col">
                <h4>Liên hệ quảng cáo</h4>
                <p><b>Công ty Cổ phần Truyền thông VietNamNet</b></p>
                <p>Hotline: 0919405885 (Hà Nội)</p>
                <p>Hotline: 0919435885 (Tp.HCM)</p>
                <p>Email: contact@vietnamnet.vn</p>
                <p>Báo giá: <a href="http://vads.vn" target="_blank">http://vads.vn</a></p>
                <p>Hỗ trợ kỹ thuật: support@tech.vietnamnet.vn</p>
            </div>

            <div class="footer-col">
                <h4>Theo dõi VietNamNet</h4>
                <div class="social-icons" style="margin-bottom: 20px;">
                    <p>Facebook | Youtube | TikTok | Zalo</p>
                </div>
                <div class="footer-links">
                    <a href="#">Tải ứng dụng</a>
                    <a href="#">Độc giả gửi bài</a>
                    <a href="#">Tuyển dụng</a>
                </div>
            </div>
        </div>
    </div>
</footer>
