<header class="vnn-header">
    <div class="container header-simple">
        <div class="header-left">
            <h1 class="header__logo">
                <a href="/" title="vietnamnet">
                    <img width="140" src="https://static.vnncdn.net/v1/logo/logoVietnamNet.svg" alt="VietNamNet">
                </a>
            </h1>
        </div>

        <div class="header-right" style="display:flex;align-items:center;gap:10px;">
            <button id="theme-toggle" class="theme-btn">
                <span id="theme-icon">Tối</span>
            </button>

            <button class="vnn__login-btn" id="btn-login">
                <span class="vnnclientid-login-text">Đăng nhập</span>
                <img class="vnnclientid-login-logo"
                     src="https://static.vnncdn.net/v1/icon/login.svg" alt="login">
            </button>
        </div>
    </div>
</header>
