<header class="vnn-header">
    <div class="container">
        <div class="container__left">
            <button type="button" title="Menu" class="container__left-item header__hamburger btn-hamburger">
                <span class="icon-hamburger"></span>
            </button>

            <h1 class="header__logo container__left-item">
                <a href="/" title="vietnamnet">
                    <img width="140" src="https://static.vnncdn.net/v1/logo/logoVietnamNet.svg" alt="VietNamNet">
                </a>
            </h1>

            <div class="header__clock">
                <span class="header__clock-content">
                    Chủ nhật, 28/12/2025
                </span>
                <a href="/lich-van-nien" class="header__clock-link">
                    Xem lịch vạn niên
                </a>
            </div>
        </div>

        <div class="container__right">
            <ul class="header__outstanding">
                <li class="header__outstanding-item">
                    <a href="/podcast" title="podcast">Podcast</a>
                </li>
                <li class="header__outstanding-item">
                    <a title="Tuần Việt Nam" href="/tuan-viet-nam">Tuần Việt Nam</a>
                </li>

                <li class="header__outstanding-item">
                    <a title="Vietnamnet premium" href="/premium">
                        <img style="width:89px;" src="https://vnn-res.vgcloud.vn/ResV9/images/vpremium-menu-logo.svg" alt="Vietnamnet premium">
                    </a>
                </li>
                <li class="header__outstanding-item">
                    <a title="Vietnamnet global" href="/en">
                        <img style="width:70px;" src="https://static.vnncdn.net/v1/icon/VietnamNet_bridge.svg" alt="Vietnamnet global">
                    </a>
                </li>

                <li class="header__outstanding-item" id="vnnid-topbar">
                    <button class="vnn__login-btn">
                        <span class="vnnclientid-login-text">Đăng nhập</span>
                        <img class="vnnclientid-login-logo" src="https://static.vnncdn.net/v1/icon/login.svg" alt="login">
                    </button>
                </li>
            </ul>

            <div class="header__search">
                <button type="button" class="btn-search" title="Tìm kiếm">
                    <span class="icon-search"></span>
                </button>
                <div class="form-box">
                    <form method="get" action="/tim-kiem" class="form__wrapper">
                        <input class="input__search" name="q" type="text" placeholder="Tìm kiếm ...">
                        <button type="submit" class="btn__search">
                            <img src="https://static.vnncdn.net/v1/icon/icon-search.svg" alt="search">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>